.sidebar {
    position: fixed;
    height: 100%;
    padding: 10px;
    background-color: #f8f9fa;
}

.search-title {
    letter-spacing: -0.01em;
}

.search-sub {
    font-size: 0.8em;
    color: #555;
}

mark {
    padding: 0em;
    font-weight: 600;
}

.search-form-group {
    margin-bottom: 4rem;
}
