.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: maroon;
    text-align: right;
    color: white;
    font-size: small;
}

.footer > span {
    padding-right: 10px;
}
