.graph {
    width: 100%;
    height: 100%;
}

.canvas {
    margin-left: 300px;
    margin-right: 0px;
    height: 100%;
    width: calc(100% - 300px);
}

.background {
    fill: #fff;
    cursor: move;
}

.line {
    stroke: #bbb;
}

.node-circle {
    fill: #64a0c8;
    stroke: #555;
    cursor: pointer;
}

.node-selected > .node-circle {
    fill: #e37222;
}

.node-circle:hover {
    stroke-width: 2px;
}

.node-text {
    fill: #555;
    font-size: 1.3em;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}

.grid {
    stroke-dasharray: 3; 
}

.grid path {
  stroke-width: 0;
}

.paper-tooltip {
    width: 300px;
}

.paper-tooltip .title {
    font-size: 1.5em;
}

.paper-tooltip .authors {
    color: #bbb;
}

.paper-tooltip .abstract {
    margin-top: 1em;
}
